/* General rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: #fff;
}


.wrapper{
    height: 100vh;

}
/* header rules */
header{
    background-color: black;
    height: 40px;
    font-size: 0.8em;
}
.views{
    text-align: right;
    padding: 10px 0;
}
.views span{
    background-color: #4a4a4a;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
}


/* main rules */
main{
    background-color: #000;
    height: calc(100% - 120px);
    overflow: auto;
}
.contents{
    background-color: #000;
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 5px;
    font-size: 0.8em;
    
}
.camera{
    flex-basis: 200px;
    height: 120px;
    position: relative;
    background-image: url(https://picsum.photos/200/300);
}
.camera img{
    width: 100%;
}
.layover{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* footer rules */
footer{
    background-color: #222222;
    height: 80px; 
}

/* DEBUG rules */
.wrapper{
    background-color: #000;
}





